/* Start variables */
:root {
  --main-color: #19c8fa;
  --tranparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End variables */

/* Start Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global */

/* Start Components */

.main-heading {
  text-align: center;
}
.main-heading h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
}
.main-heading h2::before {
  content: "";
  left: 50%;
  transform: translatex(-50%);
  bottom: -30px;
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
}
.main-heading h2::after {
  content: "";
  left: 50%;
  transform: translatex(-50%);
  bottom: -38px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #333;
  background-color: #fff;
}
.main-heading p {
  width: 550px;
  max-width: 100%;
  line-height: 2;
  color: #777;
  margin: 0 auto 100px;
}

/* End Components */

/* Start header */
header {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
header .container {
  min-height: 97px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  left: 15px;
  background-color: #a2a2a2;
  bottom: 0px;
}
header img {
  width: 80px;
}
nav {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
}
nav ul a {
  display: block;
  color: white;
  padding: 40px 10px;
  transition: 0.3s;
  font-size: 14px;
  position: relative;
  z-index: 2;
}
nav ul .active,
nav ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
nav .form i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}
.hide {
  z-index: 3;
}
@media (min-width: 768px) {
  nav .hide {
    display: none;
  }
}
@media (max-width: 767px) {
  nav ul {
    display: none;
  }
  nav .hide:hover + ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
  }
  nav .hide:hover + ul a {
    padding: 15px !important;
  }
}
/* End header */

/* Start Landing */
.landing {
  height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center;
}
.over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
}

.landing .text {
  width: 50%;
  color: #fff;
  padding: 40px;
  padding-left: 100px;
  background-color: var(--tranparent-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .text h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}
.landing .text p {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .landing .text {
    /* margin: 0; */
    padding: 22px;
    text-align: center;
    width: 100%;
  }
}
.landing .left,
.landing .right {
  position: absolute;
  top: 50%;
  color: #ddd;
  transform: translateY(-50%);
  font-size: 20px;
}
.landing .right {
  right: 30px;
}
.landing .left {
  left: 30px;
}
.landing ul {
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.landing ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid white;
}
.landing ul li:nth-child(2) {
  border-color: var(--main-color);
  background-color: var(--main-color);
}

@media (max-width: 767px) {
  .landing .left,
  .landing .right {
    display: none;
  }
}
/* End Landing */

/* Start services */

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-bottom: 40px;
}
.services .container .services-container .srv-box {
  display: flex;
}
.services .container .services-container i {
  margin-right: 50px;
  font-size: 25px;
}

.services .container .services-container .srv-box .info h3 {
  color: var(--main-color);
  margin: 0 0 30px;
}
.services .container .services-container .srv-box .info p {
  color: #777;
  line-height: 2;
}
@media (min-width: 768px) {
  .services .container .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    row-gap: 60px;
    column-gap: 40px;
  }
}
@media (max-width: 767px) {
  .services .container .services-container .srv-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }
  .services .container .services-container i {
    margin: 0 0 30px;
  }
}

/* End services */

/* Start Design */
.design {
  margin-bottom: 100px;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  background-image: url(../images/design-features.jpg);
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.396);
}
.design .image,
.design .text {
  position: relative;
  z-index: 3;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--tranparent-color);
}
.design .text h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: normal;
}
.design ul li {
  padding: 15px 0;
  text-transform: capitalize;
}
.design ul li::before {
  content: "\e163";
  margin-right: 20px;
  top: 1px;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
/* End Design */

/* Start Portfolio */

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio ul {
  display: flex;
  justify-content: center;
}
.portfolio ul li {
  padding: 10px;
}
.portfolio ul .act {
  color: white;
  background-color: var(--main-color);
}

.portfolio .imgs-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-container .box:hover .text {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .imgs-container .box h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box p {
  color: var(--main-color);
}
.portfolio .imgs-container .box .text {
  background-color: white;
  bottom: -100%;
  left: 0;
  padding: 20px;
  width: 100%;
  transition: 0.3s;
  position: absolute;
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio a {
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  margin: 30px auto;
  display: block;
  width: fit-content;
  padding: 10px 15px;
}
/*
End Portfolio */

/* start video */
.video {
  position: relative;
}
.video::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  padding: 50px;
  transform: translateY(-50%);
  background-color: var(--tranparent-color);
  color: white;
  width: 100%;
  text-align: center;
}

.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text P {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
}
/* End video */

/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  margin-top: -120px;
  position: relative;
  bottom: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End About */

/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
}
.stats::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.382);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  color: white;
  background-color: var(--tranparent-color);
  padding: 50px;
}
.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50px;
  background-color: black;
  margin: 0 auto 30px;
  align-items: center;
  justify-content: center;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container .box p {
  font-size: 14px;
}
@media (max-width: 767px) {
  .stats .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .box {
    flex-basis: 25%;
  }
}
/* End Stats */

/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container div > h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 auto 30px;
  text-align: center;
}
.our-skills .container div > p {
  color: #777;
  margin-bottom: 60px;
  line-height: 2;
  text-align: center;
}
.our-skills .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .content img {
  width: 100px;
  margin-bottom: 23px;
  border-radius: 50%;
  margin-right: 50px;
}
.our-skills .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .content .text p {
  color: #777;
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
}
.our-skills ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills ul li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills ul .act {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 767px) {
  .our-skills .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .content img {
    margin: 0 auto 20px;
  }
}
.prog-holder {
  margin-bottom: 40px;
}
.prog-holder h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
}
.prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.prog-holder .prog span {
  background-color: var(--main-color);
  height: 100%;
  display: block;
  position: relative;
}
.prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  right: -17px;
  background-color: black;
  color: white;
  top: -40px;
  padding: 4px 0;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.prog-holder .prog span::after {
  position: absolute;
  content: "";
  right: -5px;
  top: -15px;
  border: 8px solid;
  border-color: black transparent transparent transparent;
}
/* End Skills */
